/* Estilos do arquivo styles.css atualizado */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    color: #2e7d32;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1.5rem;
}

input[type="text"] {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #2e7d32;
    outline: none;
}

button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #2e7d32;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 1rem;
}

button:hover {
    background-color: #1b5e20;
}

button:active {
    background-color: #4caf50;
}

button#reload {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #ff0000; /* Cor vermelha */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 1rem;
}

button#reload:hover {
    background-color: #b30000; /* Vermelho escuro para hover */
}

button#reload:active {
    background-color: #ff4d4d; /* Vermelho mais claro para estado ativo */
}


.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.toggle-container label {
    margin-left: 0.5rem;
    font-size: 1rem;
    color: #555;
}

.table-results {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
}

.table-results td {
    padding: 0.75rem;
    border: 1px solid #e0e0e0;
    text-align: left;
}

.table-results tr:nth-child(even) {
    background-color: #f9f9f9;
}

@media (max-width: 768px) {
    .container {
        padding: 1.5rem;
        max-width: 100%;
    }
}
